body {
	background: #141414;
	color: #ffffff;
}

.movie-app > .row {
	overflow-x: auto;
	flex-wrap: nowrap;
	padding: 20px 20px;
}

.image-container {
	position: relative;
	transition: transform 0.2s;
}

.image-container:hover {
	cursor: pointer;
	transform: scale(1.1);
}

.btn-handler{
	padding: 15px 50px;
	background-color: 'red';
	margin-top: 10px;
}

.banner{
	text-align: center;
	font-size: 1.2em;
	padding: 10px 0px;
	background-color: #ffffff;
	color: #141414;
	width: 30%;
	display: block;
	margin: auto;
}